:root {
  interpolate-size: allow-keywords;

  [data-popper-positioner] {
    pointer-events: none;
  }

  /* ::selection { */
  /*   background-color: color-mix(in srgb, var(--brand-primary) 33%, transparent); */
  /*   background-color: var(--brand-primary); */
  /*   color: var(--bg-base); */
  /* } */
}

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.truncate-start {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl;
  text-align: left;
}
